
.page {
    height:100vh;
    position:relative;
    
}

.page > .text-box {
    position:absolute;
    top:29%;
    left:50%;
    transform:translatex(-50%);
    font-size:85px;
    white-space:nowrap;
    line-height:90px;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:opacity 5s;
}

.page.active > .text-box {
    opacity:1;
}

.text-box:nth-of-type(2) {
    top:56%;
    transform:translatex(-50%) rotate(180deg);
    text-shadow:5px 5px 5px rgba(255,255,255,.2);
    color:transparent;
    line-height:80x;
}


/* 배경 만들기 */
.bg {
    background-color:#000;
    position:fixed;
    top:0;
    left:50%;
    transform:translatex(-50%);
    width:300%;
    height:100%;
    background-image:linear-gradient(to bottom, 
        darkblue 0%,
/*         #021B79 .1%, 
        #207cca 1.2%, 
        #2b88d9 1.6%,  */
        #2575fc 1.8%, 
        
/*        #801515 7.5%,*/
       #f77062 8%,  
        #6C1239 15%, 
        
        
/*         #0B25B2 15%,  */
         
       #20002c 19.5%, 
        
        
/*          27.5%,  */
/*         24%,
        #cbb4d4 25.5%,
        #fff 25.8%,
         26%,
         */
        
/*         #1E9600 32.5%,  */
/*         #FFF200 36.6%,  */
/*         #ED213A 29%, */
/*         #93291E 35.5%, */
        
        #d9a7c7 35%, 
/*         #89fffd 42%, 
        #fffcdc 42.6%, */
        
/*         #007991 48.5%, 
        #78ffd6 49.5%, */
        #007991 50%,
       
/*        gold 55%,
        #C33764 57%,
        gold 58%, */
        #C33764 59%,
        
/*         #43C6AC 66%,
        #DD5E89 68%,
        #C6426E 70%, */
        #F7BB97 74%,


        #fff 100%
    );
         
    background-size:100% 3000%;
    background-position:0 0;
    transition:background-position 3s;
}

html[data-current-index="0"] body:hover .bg {
    background-position:0 0;
}

html[data-current-index="1"] body:hover .bg {
    background-position:0 8.3333%;  
}

html[data-current-index="2"] body:hover .bg {
    background-position:0 16.6666%;
}

.page-3 > .text-box {
    top:27%;
}

.page-3 > .text-box:nth-of-type(2) {
    top:54%;
}

html[data-current-index="3"] body:hover .bg {
    background-position:0 24.9999%;
}


.page-4 > .text-box:nth-of-type(2), .page-5 > .text-box:nth-of-type(2) {
    top:55%;

}

html[data-current-index="4"] body:hover .bg {
    background-position:0 33.3332%;


}

html[data-current-index="5"] body:hover .bg {
    background-position:0 38.4615%;
    
}


html[data-current-index="6"] body:hover .bg {
    background-position:0 41.6665%;
    background-position:0 50%;
}

html[data-current-index="7"] body:hover .bg {
  
    background-position:0 60%;
}

.page-5 > .text-box {
    font-size:70px;
    top:50%;
    transform: translateY(-70%) translateX(-50%);
}
 .page-6 > .text-box {
    font-size:70px;
    top:50%;
    transform: translateY(-60%) translateX(-50%);
}


.page-7 > .text-box {
    font-size:85px;
    top:40%;
}
