/*  폰트 적용 */
@import url('https://fonts.googleapis.com/css?family=Alike+Angular|Inknut+Antiqua|Lato|Noto+Sans+KR|Noto+Serif+KR&display=swap');


/* 
html {
    font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Alike Angular', serif;
font-family: 'Inknut Antiqua', serif;
font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
} */

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
    font-family:Lato;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.absolute-bottom {
    position:absolute;
    bottom:0;
}

.width-100p {
    width:100%;
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

.vertical-align-top {
    vertical-align:top;
}

.vertical-align-middle {
    vertical-align:middle;
}

.vertical-align-bottom {
    vertical-align:bottom;
}

/* 커스텀 */

.con {
    width:1180px;
}

.con-min-width {
    min-width:1180px;
}

/* 반응형 레이아웃 */
/*
.con {
    max-width:1150px;
}

.con-min-width {
    min-width:320px;
}

html, body {
    overflow-x:hidden;
}
*/

.text-box, .text {
    font-family:'Noto Sans KR', sans-serif;
}

.title {
   
}

body {
    background-color:#fff;
    transition:background-color .5s;
}

body.paper-hover {
    background-color:#eee;
}

body > .paper {
    padding:80px 60px 50px 60px;
    border:1px solid;
    background-color:#eee;
    margin:100px auto;
    transition:background-color .5s;
}

body.paper-hover > .paper {
    background-color:#fff;
}

/* 헤더 시작 */
.paper > .inner > .header {
    box-sizing:border-box;
    position:relative;
    height:330px;
}

.paper > .inner > .header::before {
    content:"2020.03.29.SUN.";
    display:block;
    position:absolute;
    top:-22px;
    left:0;
    font-size:12px;
}

.paper > .inner > .header::after {
    content:" (1) ";
    display:block;
    position:absolute;
    top:-22px;
    right:0;
    font-size:12px;
}

.paper > .inner > .header > .header-1, .paper > .inner > .header > .header-2 {
    border-top:5px solid;
    border-bottom:5px solid;
    position:absolute;
    width:100%;
    padding:10px 10px;
    box-sizing:border-box;
    transition:opacity 1s;
    padding-top:10px;
    padding-bottom:30px;
}

.paper > .inner > .header > .header-1 {
    font-family: 'Inknut Antiqua', serif;
}

.paper > .inner > .header > .header-2 {
    font-family: 'Alike Angular', serif;
}

.paper > .inner > .header > div:nth-of-type(1) {
    opacity:1;
}

.paper > .inner > .header > div:nth-of-type(2) {
    opacity:0;
}

body.paper-hover > .paper > .inner > .header > div:nth-of-type(1) {
    opacity:0;
}

body.paper-hover > .paper > .inner > .header > div:nth-of-type(2) {
    opacity:1;
}

.paper > .inner > .header > div > .title {
    font-weight:bold;
    text-transform:uppercase;
    box-sizing:border-box;
    text-align:center;
    line-height:1;
    padding:60px 0;
    letter-spacing:-2px;
    border-top:3px solid;
    border-bottom:3px solid;
    width:calc(100% - 20px);
    margin:0 auto;
    font-size:110px;
}

.paper > .inner > .header > div:nth-of-type(2) > .title {
    letter-spacing:2px;
    font-size:120px;
    padding:55px 0;
}

.paper > .inner > .header > div:nth-of-type(2) > .slogan {
    font-size:30px;
    text-align:center;
}

.paper > .inner > .header > .header-low-box {
    font-family: 'Inknut Antiqua', serif;
    font-weight:500;
    text-align:center;
    font-size:13px;
    width:100%;
    margin-top:247px;
    position:absolute;
}

/* 헤더 끝 */

.paper > .inner > .body {
    height:1630px;
    box-sizing:border-box; 
}

/* 좌측 셀 시작 */
.paper > .inner > .body > .cell:nth-of-type(1) {
    width:40%;
    box-sizing:border-box;
    height:calc(100%);
    padding-right:40px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner{
    height:calc(100%);
    padding-top:0;
    box-sizing:border-box;
}

/* 프로필 */
.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .title {
    font-size:40px;
    text-transform:uppercase;
    font-weight:bold;
    position:relative;
    line-height:1.2;
    font-family: 'Inknut Antiqua', serif;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .sub-title {
    font-size:20px;

    margin:20px 0 10px 0;
    font-weight:bold;
    font-style:italic;
    font-family:'Noto Sans KR', sans-serif;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .title::after {
    position:absolute;
    width:120px;
    height:3px;
    background-color:#000;
    content:"";
    display:block;
    right:15%;
    bottom:8px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .img-box {
    width:210px;
    height:280px;
    border:1px solid;
    margin:22px 20px 5px 0;
    position: relative;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .img-box > img {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    
    transition: opacity .5s;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .img-box > img:nth-of-type(2) {
    opacity: 0;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .img-box:hover > img:nth-of-type(2) {
    opacity: 1;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .img-box:hover > img:nth-of-type(1) {
    opacity: 0;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .text-box {
    font-size:16px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .profile > .body > .text-box > span {
    font-weight:bold;
    font-size:15px;
}

/* 그래픽 디자인 */

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design {
    margin-top:60px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .title-box {
    font-size:17px;
    font-weight:bold;
    color:#eee;
    background-color:#000;
    text-align:center;
    padding:8px 0 10px 0;
    box-sizing:border-box;
    margin-bottom:30px;
    font-family: 'Inknut Antiqua', serif;
}

body.paper-hover > .paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .title-box {
    color:#fff;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell {
    width:calc((100% - 10px) / 2);
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) {
    margin-right:10px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box {
    border:3px solid;
    height:210px;
    position:relative;
    overflow-y:hidden;
    margin-bottom:10px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box::after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    font-size:10px;
    background-color:rgba(0,0,0,1);
    color:#eee;
    font-family:'Noto Sans KR', sans-serif;
    padding:0 1px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box:hover::after {
     background-color:rgba(0,0,0,.3);
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) > .img-box:nth-of-type(1)::after {
    content:"쇼핑몰 상세페이지 제작 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) > .img-box:nth-of-type(2)::after {
    content:"모바일 아이콘 제작 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) > .img-box:nth-of-type(3)::after {
    content:"포스터 제작 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > .img-box:nth-of-type(1)::after {
    content:"배너 제작 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > .img-box:nth-of-type(2)::after {
    content:"블랜드 활용 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > .img-box:nth-of-type(3)::after {
    content:"상세페이지 모작 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > .img-box:nth-of-type(4)::after {
    content:"아이소메트릭 제작 실습";
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box > img {
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform:translatex(-50%) translatey(-50%);
    transition:opacity .3s;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box > img:nth-of-type(2) {
    opacity:0;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box:hover > img:nth-of-type(2) {
    opacity:1;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell > .img-box:hover > img:nth-of-type(1) {
    opacity:0;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) > div:nth-of-type(1) 
{
    height:400px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) > div:nth-of-type(1)  > img
{
    transform:translatey(-5%) translatex(-50%);
    top:0;
}

 .paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > div:nth-of-type(1) {
    height:100px;
}

 .paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > div:nth-of-type(2) {
    height:130px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(1) > div:nth-of-type(2) {
    height:167px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > div:nth-of-type(3) {
    height:431px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > div:nth-of-type(3) > img {
    top:0;
    transform:translatex(-50%) translatey(-2%);
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > div:nth-of-type(4) {
    height:100px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .body > .cell:nth-of-type(2) > div:nth-of-type(4) > img {
    height:100px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .more-btn {
    position:relative;
    margin-top:20px;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .more-btn >div {
    position:absolute;
    width:100%;
    box-sizing:border-box;
    transition:opacity .3s;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .more-btn >div:nth-of-type(1){
    font-size:19px;
    font-weight:bold;
    border:2px solid;
    padding:6px;
    
}
.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .more-btn >div:nth-of-type(2){
    font-size:16px;
    font-weight:bold;
    background-color:#000;
    color:#fff;
    padding:8px;
    opacity:0;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .more-btn:hover >div:nth-of-type(2) {
    opacity:1;
}

.paper > .inner > .body > .cell:nth-of-type(1) > .cell-inner > .graphic-design > .more-btn:hover >div:nth-of-type(1) {
    opacity:0;
}


/* 우측 셀 시작 */

.paper > .inner > .body > .cell:nth-of-type(2) > .title-box {
    font-size:24px;
    text-transform:uppercase;
    font-weight:bold;
    color:#eee;
    background-color:#000;
    text-align:center;
    padding:5px 0;
    box-sizing:border-box;
    margin-bottom:42px;
     font-family: 'Inknut Antiqua', serif;
}

body.paper-hover > .paper > .inner > .body > .cell:nth-of-type(2) > .title-box {
    color:#fff;
}

.paper > .inner > .body > .cell:nth-of-type(2) {
    width:60%;
    margin-top:4px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box {
    margin-bottom:25px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box.creation > .img-box, .paper > .inner > .body > .cell:nth-of-type(2) > .box.redesign > .img-box {

    position:relative;
    overflow:hidden;
    width:calc(68% - 10px);
    height:310px;
    border:3px solid;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box.creation > .img-box > img, .paper > .inner > .body > .cell:nth-of-type(2) > .box.redesign > .img-box > img {
    position:absolute;
    width:100%;
    transition:opacity .5s;
    top:0;
    left:50%;
    transform:translatex(-50%);
}

.box.creation > .img-box > img:nth-of-type(2), .box.redesign > .img-box > img:nth-of-type(2) {
    opacity:0;
    width:120% !important;
}

.box.creation > .img-box:hover > img:nth-of-type(1), .box.redesign > .img-box:hover > img:nth-of-type(1) {
    opacity:0;
}

.box.creation > .img-box:hover > img:nth-of-type(2), .box.redesign > .img-box:hover > img:nth-of-type(2) {
    opacity:1;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box > .text-box {
    width:32%;
    box-sizing:border-box;
    position:relative;
    margin-right:10px;
    padding-bottom:15px;
    line-height:1.4;
    
}


.paper > .inner > .body > .cell:nth-of-type(2) > .box > .text-box:hover {
    color:#fff;
    background-color:#000;
    transition:all .5s;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box > .text-box > .title {
    font-size:90px;
    line-height:1;
    display:inline-block;
    font-family: 'Inknut Antiqua', serif;
    
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box > .text-box > .text > span:nth-of-type(1) {
    font-size:30px !important;
    font-weight:bold;
    line-height:1.5;
    font-family: 'Inknut Antiqua', serif;
    display:block;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(2) > .text-box > .text > span:nth-of-type(1) {
    padding-left:5px;
}
/* 
.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .text-box > .text > span:nth-of-type(1) {
   border:1px solid red;
   letter-spacing:1px;
} */

.paper > .inner > .body > .cell:nth-of-type(2) > .box > .text-box > .text > span:not(:nth-of-type(1)){
    font-weight:bold;
    font-size:15px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box > .text-box > .text {
    padding:5px;
    font-size:16px;
}

.paper > .inner > .body > .cell:nth-of-type(2)> .box > .text-box > .more-btn {
    background-color:black;
    color:#fff;
    padding:3px;
    margin-top:15px;
    box-sizing:border-box;
    cursor:pointer;
    width:90%;
}

.paper > .inner > .body > .cell:nth-of-type(2)> .box > .text-box:hover > .more-btn {
    background-color:#fff;
    color:#000;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell {
    width:calc((100% - 33%) / 2 - 12px);
    text-align:center;
    margin-top:10px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell:not(:nth-of-type(1)) {
    margin:10px 0px 10px 10px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell > .title {
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding:10px 0 15px 0;
    letter-spacing:-1px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell > .more-btn {
    background-color:black;
    color:#fff;
    padding:5px 10px;
    box-sizing:border-box;
    display:inline-block;
    font-size:13px;
    border-radius:10%;
    cursor:pointer;
    margin-bottom:8px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell > .img-box  {
    height:220px;
    margin-bottom:5px;
    overflow:hidden;
    position:relative;
    border:3px solid;
    box-sizing:border-box;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell > .img-box > img {
    width:100%;
    position:absolute;
    transition:opacity .5s;
    top:50%;
    left:50%;
    transform:translatex(-50%) translatey(-50%);
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell > .img-box > img:nth-of-type(2) {
    opacity:0;
    width:120%;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .text-box > .title {
    padding-left:6px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell:hover > .img-box > img:nth-of-type(2) {
    opacity:1;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .box:nth-of-type(4) > .img-box > .cell:hover > .img-box > img:nth-of-type(1) {
    opacity:0;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .more-btn {
    height:50px;
    position:relative;
    margin-bottom:22px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .more-btn:not(:last-child){
    margin-top:25px;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .more-btn > div {
    font-size:23px;
    font-weight:bold;
    text-align:center;
    border:3px solid;
    padding-top:8px;
    position:absolute;
    width:100%;
    height:100%;
    box-sizing:border-box;
    transition:opacity .3s;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .more-btn > .kor {
    font-size:20px;
    opacity:0;
    background-color:#000;
    color:#fff;
    border:3px solid #000;
    line-height:1.4;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .more-btn:hover > .kor {
    opacity:1;
}

.paper > .inner > .body > .cell:nth-of-type(2) > .more-btn:hover > .eng {
    opacity:0;
}
