.top-bar {
    top:0 !important;
}

.page > .inner {
    top:120px !important;
}

.page > .inner > .contents {
    height:570px;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid #eee;
}

.page > .inner > .contents > ul {
    height:100%;
    background-color:rgba(255,255,255,.9);
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    overflow-y: auto;
}

.page > .inner > .contents > ul > li {
    border-bottom:1px solid #eee;
    min-height:calc(100% / 14);
    max-height: 99%;
    box-sizing: border-box;
    overflow-y: auto;
}

.page > .inner > .contents > ul > li.hidden {
    display: none;
}

.page > .inner > .contents > ul > li > div > span {
    display: block;
}

.page > .inner > .contents > ul > li > .head {
    padding:10px;
    box-sizing: border-box;
}

.page > .inner > .contents > ul > li > .head > .ico {
    width:22px;
    height:22px;
    margin:0 30px;
    background-repeat: no-repeat;
    background-image: url(./index.img/ico-dragon-fly-03.png);
    background-size:cover;

}

.page-2 > .inner > .contents > ul > li > .head > .ico {
    color:#273575;
    font-weight:600;
    background:none;
}

.page > .inner > .contents > ul > li > .head > .title {
    font-weight:600;
    letter-spacing: -1px;
}

.page > .inner > .contents > ul > li > .head > .date {
    font-weight:200;
    letter-spacing: -1px;
    margin-right:50px;
}

.page-2 > .inner > .contents > ul > li > .head > .date {
    font-size:14px;
}

.page > .inner > .contents > ul > li > .text-box {
    height:0;
    overflow:hidden;
    display: none;
}

.page > .inner > .contents > ul > li.active > .text-box {
    display: block;
    height:auto;
    padding:50px;
}

.page-4 > .inner> .title > span {
    display: inline-block;
}

.page-4 > .inner> .title > span.red {
    color:#ee3224;
}

.page-4 > .inner> .title > span.blue {
    color:darkblue;
}

.page-4 > .inner> .title::after {
    width:2px;
    height:50px;
    background-color: #ccc;
    top:100%;
}

.page-4 > .inner> .contents {
    border:none;
}

.page-4 > .inner> .contents > div:nth-of-type(1) {
    font-size:60px;
    font-weight:bold;
    text-align: center;
}

.page-4 > .inner> .contents > .more-btn {
    background-color: darkblue;
    color:#fff;
    width:280px;
    font-size:20px;
    padding:15px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    margin:0 auto;
    margin-top:80px;
}

.page-4 > .inner {
    
    height:400px;
    position: absolute;
    top:50% !important;
    left:50%;
    transform: translateX(-50%) translateY(-60%);
}

/*갤러리*/
/* 캐러셀 1 */
.page-3  h1 {
    display: none;
}

.carousel-1 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item {
    height:450px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.carousel-1 > .owl-carousel > .owl-nav {
    margin:0 !important;
}

.carousel-1 > .owl-carousel > .owl-nav > div {
    padding:0;
    margin:0 20px;
    border-radius:0;
    background-color:transparent;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    font-size:4rem;
}

.carousel-1 > .owl-carousel > .owl-nav > div.owl-next {
    left:auto;
    right:0;
}

.carousel-1 > .owl-carousel > .owl-dots {
    padding:0;
    margin:20px 0 0 0;
}

.carousel-1[data-carousel-1-autoplay-status="Y"] .play {
    display:none;
}

.carousel-1[data-carousel-1-autoplay-status="N"] .stop {
    display:none;
}

/* 캐러셀 2 */
.carousel-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item {
    height:70px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.carousel-2 > .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item > .item.active {
    border:10px solid black;
}

.carousel-2 > .owl-carousel > .owl-nav {
    margin:0 !important;
}

.carousel-2 > .owl-carousel > .owl-nav > div {
    padding:0;
    margin:0 20px;
    border-radius:0;
    background-color:transparent;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    font-size:4rem;
}

.carousel-2 > .owl-carousel > .owl-nav > div.owl-next {
    left:auto;
    right:0;
}

.carousel-2 > .owl-carousel > .owl-dots {
    padding:0;
    margin:20px 0 0 0;
}

.carousel-2[data-carousel-1-autoplay-status="Y"] .play {
    display:none;
}

.carousel-2[data-carousel-1-autoplay-status="N"] .stop {
    display:none;
}

.page-3 > .inner > .contents {
    border:none;
    border-radius:0;
}