/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: 'Nanum Gothic', sans-serif;
}

/*노말라이즈*/
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}



/*라이브러리*/
.con {
    margin: 0 auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.relative {
    position:relative;
}

.absolute {
    position:absolute;
}

.fixed {
    position:fixed;
}

.inline-block {
    display:inline-block;
}

.block {
    display:block;
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.img-box {
    box-sizing: border-box;
    overflow: hidden;
}

.img-box > img {
    width: 100%;
    display: block;
}

.text-align-center {
    text-align: center;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0 > * {
    line-height: normal;
}


/*커스텀*/
body {
    overflow-x :
        hidden;
  
}

.con-1 {
    max-width: 1500px;
    min-width: 1000px;
}

.con-2 {
    max-width: 1200px;
    width:100%;
}

.top-bar {
    background-color: rgba(0, 0, 0, .9);
    padding: 20px 0;
    width:100%;
    position: absolute;
    top:40px;
    z-index: 8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.top-bar.active {
    position: fixed;
    top:0;
}

.top-bar > .inner > .row {
    vertical-align: middle;
}

.top-bar > .inner > .row > .cell > a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: :-1px;
    padding: 0px 80px;
    display: block;
    box-sizing: border-box;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell {
    position: relative;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell::after {
    content: "";
    display: block;
    position: absolute;
    width:0px;
    height:3.5px;
    background-color: white;
    bottom:0;
    transform: translateY(500%)translateX(-50%);
    left:50%;
    transition: width .5s;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell > ul {
    display:none;
    position:absolute;
    bottom:0;
    transform:translatex(-50%) translatey(110%);
    left:50%;
    box-sizing:border-box;
    width:50%;
    padding:20px 0;
    background-color:white;
    border-radius:15px;
    border:2px solid #eee;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell:hover > ul, .top-bar > .inner > .row:nth-of-type(1) > .cell.active > ul {
    display:block;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell > ul > li {
    font-size:15px;
    padding:6px 0;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell > ul > li:hover {
    color:white;
    background-color:#000;
}

.top-bar > .inner > .row:nth-of-type(1) > .cell.active::after, .top-bar > .inner > .row:nth-of-type(1) > .cell:hover::after,.top-bar > .inner > .row:nth-of-type(1) > .cell:active::after {
   width:80px; 
}

.top-bar > .inner > .right-box {
    color: white;
    width: 120px;
    position:absolute;
    top:50%;
    right:0;
    transform:translatey(-50%);
}

.top-bar > .inner > .right-box > .cell:nth-of-type(1) > .btn {
    cursor: pointer;
    font-size: 14px;
    border: 1.5px solid;
    padding:2px 6px 4px 6px;
    letter-spacing: -1px;
    display: block;
    font-weight: 600;
    border-radius:5px;
}

.top-bar > .inner > .right-box > .cell.active > .btn {
    color:#000;
}

.top-bar > .inner > .right-box > .cell:nth-of-type(1) {
    position:relative;
}

.top-bar > .inner > .right-box > .cell:nth-of-type(1) > .pop-up {
    position: absolute;
    border:2px solid #eee;
    color:#000;
    width:100px;
    top:-20px;
    left:50%;
    transform: translateX(-50%);
    border-radius: 15px;
    display: none;
    background-color: white;
    z-index: -1;
    padding-bottom:14px;
    box-sizing: border-box;
}

.top-bar > .inner > .right-box > .cell:nth-of-type(1).active > .pop-up {
    display: block;
}

.top-bar > .inner > .right-box > .cell > .pop-up > div:nth-of-type(2)> div {
    padding-top:3px;
    font-size:14px;
    font-weight: 600;
}

.top-bar > .inner > .right-box > .cell > .pop-up > div:nth-of-type(2)> div:hover {
    color:white;
    background-color:#000;
} 

.top-bar > .inner > .right-box > .cell > .pop-up > div:nth-of-type(1) {
    background-color:transparent;
    height:55px;
}

.top-bar > .inner > .right-box > .cell:nth-of-type(2) {
    position: absolute;
    width: 25px;
    height: 20px;
    top:50%;
    transform: translateY(-50%);
    right:0;
    cursor: pointer;
}

.top-bar > .inner > .right-box > .cell:nth-of-type(2) > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    top: 0;
    left: 0;
}

.top-bar > .inner > .right-box > .cell:nth-of-type(2) > span:nth-of-type(2) {
    top:50%;
    transform: translateY(-50%);
}

.top-bar > .inner > .right-box > .cell:nth-of-type(2) > span:nth-of-type(3) {
    top:auto;
    bottom:0;
}

.top-bar > .inner > .logo-box {
    width:135px;
    position:absolute;
    top:50%;
    transform:translatey(-50%);
    left:0;
}

.page {
    height:100vh;
    position: relative;
}

.page > .inner {
    position: absolute;
    left:50%;
    top:170px;
    transform: translateX(-50%);
}

.page > .inner > .title {
    margin-bottom:80px;
    position: relative;
    text-align:center;
}

.page > .inner > .title::after {
    content: "";
    display: block;
    position: absolute;
    width:30px;
    height:4px;
    background-color: #363636;
    bottom:0;
    left:50%;
    transform: translateX(-50%) translateY(25px);
}

.page > .inner > .title > span {
    display: block;
    font-size:25px;
    font-weight: 700;
    letter-spacing: -1px;
}

.page >.inner > .contents {
    position: relative;
}

.page >.inner > .contents > .text {
    font-size:14px;
    letter-spacing: -1px;
    line-height: 22px;
}

.bottom-wave {
    background-image:url(./index.img/wave-pattern-01.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:auto 220px;
}

.footer {
    background-color:#363636;
}

.footer > .inner {
    padding:60px 0;
}

.footer > .inner > .cell:nth-of-type(1) > .copyright-box {
    border-right:1px solid #eee;
    padding-right:90px;
}

.footer > .inner > .cell:nth-of-type(1) > .logo-box {
    margin-right:70px;
}

.footer > .inner > .cell:nth-of-type(1) > .copyright-box > div > span {
    font-size:12px;
    color:#fff;
    letter-spacing: :-1px;
    font-weight:100;
}

.footer > .inner > .cell:nth-of-type(1) > .copyright-box > div > .notice {
    font-weight:600;
}

.footer > .inner > .cell:nth-of-type(1) > .copyright-box > div:nth-of-type(2) > span:nth-of-type(2) {
    letter-spacing: .5px;
}

.footer > .inner > .cell:nth-of-type(1) > .copyright-box > div:nth-of-type(1) > span {
    padding-right:20px;
}

.footer > .inner > .cell:nth-of-type(1) > .copyright-box > div:nth-of-type(3) {
    margin-top:40px;
}

.footer > .inner > .cell:nth-of-type(2) {
    padding-left:90px;
}

.footer > .inner > .cell:nth-of-type(2) > div > span {
    font-size:45px;
    color:#00ffff;
    font-weight:600;
    letter-spacing: -1px;
    line-height: 52px;
}


/* 페이지네이션 시작 */
.pagination-box {
    position:fixed;
    top:50%;
    transform:translatey(-50%);
    right:8%;
    z-index:1;
    transition:opacity .5s;
}

.pagination-box > .pagination > li {
    margin:10px 0;
    text-align: center;
}

.pagination-box > .pagination > li > a {
    display: block;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    color: #333;
    font-size: 13px;
    position:relative;
    cursor:pointer;
    font-weight: 600;
}


.pagination-box > .pagination > li > a::after {
    content:"";
    display:none;
    position:absolute;
    width:5px;
    height:18px;
    background-color:#273575;
    top:50%;
    right:0;
    transform: translateY(-47%);
}

.pagination-box > .pagination > li > a::before {
    content:"";
    display:none;
    position:absolute;
    width:5px;
    height:18px;
    background-color:#ee3224;
    top:50%;
    left:0;
    transform: translateY(-47%);
}

.pagination-box > .pagination > li > a.active::after, .pagination-box > .pagination > li > a.active::before {
    display:block;
}

.pagination-box > .top-btn, .pagination-box > .bottom-btn {
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    background-color:transparent;
    background-size:cover;
    position:absolute;
    cursor:pointer;
    background-image:url(./index.img/ico-dragon-fly-03.png);
    transition: top .5s, bottom .5s;
    border-radius: 100%
}

.pagination-box > .top-btn {
    top:-40px;
    left:50%;
    transform:translatex(-50%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.pagination-box > .top-btn:active {
    top:-80px;
}

.pagination-box > .bottom-btn {
    transform:translatex(50%) rotate(180deg);
    right:50%;
    bottom:-40px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .5);
}

.pagination-box > .bottom-btn:active {
    bottom:-80px;
}

@media (max-width:1200px) {
    .pagination-box {
        display:none;
    }
}

.popup-bg {
    display: none;
}

.popup-all-menu {
    width:1200px;
    height:736px;
    background-repeat: no-repeat;
    background-image: url(./index.img/popup-all-menu-02.png);
    background-size: cover;
    background-position: center;
    z-index:11;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%) scale(.8);
    border-radius: 20px;
    display: none;
}

.popup-all-menu.active {
    display: block;
}

.popup-bg.active {
    display: block;
}

.popup-all-menu > .logo-box {
    margin:100px 0;
}

.popup-all-menu > div > ul > li {
    width:calc(100% / 3);
    text-align: center;
}

.popup-all-menu > div > ul > li > .title {
    font-size:20px;
    font-weight:600;
    margin-bottom:30px;
}

.popup-all-menu > div > ul > li > ul > li {
    
    padding:10px 0;
    letter-spacing: -1px;
}

.popup-all-menu > div > ul {
    margin-bottom:90px;
}

.popup-all-menu > .close-btn {
    width:30px;
    height:30px;
    position: absolute;
    top:20px;
    right:20px;
    border-radius: 100%;
    background-color:#fff;
    box-shadow: 2px 2px 2px;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup-all-menu > .close-btn > div {
    height:3px;
    background-color:#363636;
    width:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.popup-all-menu > .close-btn > div:nth-of-type(2) {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

/*

.page.gradient {
    background-size:auto 120px;
    background:url(./index.img/wave-pattern-01.png), linear-gradient(#fff, #fff, #000);
    background-repeat: no-repeat;
    background-position: bottom;
}
*/


@media (max-width:1500px) {
    .footer > .inner {
        padding: 50px;
        width: 100%;
    }

    .footer > .inner > .cell:nth-of-type(1) > .copyright-box > div > span {
        font-size: 15px;
        color: #fff;
        letter-spacing: :-1px;
        font-weight: 100;
    }

    .footer > .inner > .cell {
        float: none !important;
    }

    .footer > .inner > .cell:nth-of-type(1) > .copyright-box {
        padding-top: 40px;
        clear: both;
    }

    .footer > .inner > .cell:nth-of-type(2) {
        padding-left: 0;
        padding-top: 40px;
    }

    .footer > .inner > .cell:nth-of-type(2) > div {
        float: left;
        padding-right: 50px;
    }

    .footer > .inner > .cell:nth-of-type(1) > .copyright-box {
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 40px;
    }
}

/* 푸터 끝 */

@media (max-width:1000px) {

    .con-1,
    con-2 {
        max-width: 100%;
        min-width: 100%;
    }

    .top-bar {
        top: 0;
        opacity: 1;
    }

    .top-bar > .inner > .row:nth-of-type(1) {
        display: none;
    }

    .top-bar > .inner {
        height: 70px;
        box-sizing: border-box;
    }

    .top-bar > .inner > .logo-box {
        width: 180px;
        left: 30px;
    }

    .top-bar > .inner > .right-box {
        width: 140px;
        height: 50px;
        right: 30px;
    }

    .top-bar > .inner > .right-box > .cell > .btn {
        font-size: 18px !important;
        border: 3.5px solid !important;
        letter-spacing: -1px;
        display: block;
        font-weight: 600;
        border-radius: 5px;
        padding: 4px 6px !important;
        box-sizing: border-box;
    }

    .top-bar > .inner > .right-box > .cell:nth-of-type(2) {
        height: 70%;
        width: 45px;
    }

    .top-bar > .inner > .right-box > .cell:nth-of-type(2) > span {
        height: 4px;
    }

    .popup-all-menu {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(1);
        border-radius: 15px;
    }

    .page > .inner {

        position: absolute;
        top: 130px;
        left: 50%;
        transform: translatex(-50%);
    }

    .footer > .inner > .cell:nth-of-type(1) > .copyright-box > div > span {
        display: block;
    }

    .footer > .inner > .cell:nth-of-type(2) > div {
        float: none;
    }

    /*     .page > .scroll-down-btn {
        display:none;
    } */

}


@media (max-width:1000px) {
    .page > .scroll-down-btn > img:nth-of-type(1) {
        display: none;
    }

    .page > .scroll-down-btn > img:nth-of-type(2) {
        display: block;
        opacity: .8;
    }

}


/* 팝업 시작 */
.popup-bg {
    display: none;
}

.popup-all-menu {
    width: 1200px;
    height: 736px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.8);
    border-radius: 20px;
    display: none;
    background-image: url(https://a45474.github.io/LeeDoBin/sungmu/index.img/popup-all-menu-02.png);
}

.popup-all-menu.active {
    display: block;
}

.popup-bg.active {
    display: block;
}

.popup-all-menu > .logo-box {
    margin: 100px 0;
}

.popup-all-menu > div > ul > li {
    width: calc(100% / 3);
    text-align: center;
}

.popup-all-menu > div > ul > li > .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.popup-all-menu > div > ul > li > ul > li {

    padding: 10px 0;
    letter-spacing: -1px;
}

.popup-all-menu > div > ul {
    margin-bottom: 90px;
}

.popup-all-menu > .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 2px;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup-all-menu > .close-btn > div {
    height: 3px;
    background-color: #363636;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.popup-all-menu > .close-btn > div:nth-of-type(2) {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
